<h1>Here you can see all the other people supporting our cause:</h1>


<div class="middlesign" style="position: relative">

<div class="signerslist" style="opacity: 1; position: absolute z-index: 999">
{{#rows}}
<p><a href="{{url}}" target="_blank">{{first}} {{last}}</a> {{#age}}|{{/age}} {{age}} {{#if city.length}}|{{/if}} <a href="/signers/{{city}}">{{city}}</a> </p>
{{/rows}}
</div>





</div>



